# Загрузка данных анкет и проведение МАИ, анализ полученных результатов
Данные: заполненные анкеты экспертов (таблицы Excel)

In [1]:
import re
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
from random import randint

In [2]:

df = pd.read_excel(r'C:\Users\user\матрица\Экс5.xlsx')
df.head()

           Вид происшествия    Аварии  Инциденты  Предпосылки
0                    Аварии  1.000000        7.0            9
1                 Инциденты  0.142857        1.0            5
2  Предпосылки к инцидентам  0.111111        0.2            1

In [3]:
print('Число строк и столбцов в наборе данных:\n', df.shape)

Число строк и столбцов в наборе данных:
 (3, 4)

In [4]:
# типы столбцов 
df.dtypes

Вид происшествия     object
Аварии              float64
Инциденты           float64
Предпосылки           int64
dtype: object

In [5]:
#удаление столбца типа object для дальнейшей работы с фреймом 
df.pop('Вид происшествия') 
print(df)

     Аварии  Инциденты  Предпосылки
0  1.000000        7.0            9
1  0.142857        1.0            5
2  0.111111        0.2            1

In [6]:
# типы столбцов 
df.dtypes

Аварии         float64
Инциденты      float64
Предпосылки      int64
dtype: object

In [7]:
# также меням тип данных Предпосылки
df['Предпосылки'] = df['Предпосылки'].astype(float)

In [8]:
df.loc[:, df.columns[df.dtypes == 'float64']].head()

     Аварии  Инциденты  Предпосылки
0  1.000000        7.0          9.0
1  0.142857        1.0          5.0
2  0.111111        0.2          1.0

In [9]:
DF_1=df[:].copy()

In [10]:
#Найдем сумму всех столбцов, для того чтобы в дальнейшем пересчитать полученные значения
df.sum ()

Аварии          1.253968
Инциденты       8.200000
Предпосылки    15.000000
dtype: float64

In [11]:
# Считаем значения для нашей матрицы, путем деления каждого значения в столбце на сумму столбца
df['new_Аварии'] = df['Аварии'].astype(float).div(df['Аварии'].sum())
df['new_Инциденты'] = df['Инциденты'].astype(float).div(df['Инциденты'].sum())
df['new_Предпосылки'] = df['Предпосылки'].astype(float).div(df['Предпосылки'].sum())

In [12]:
df.head()

,Аварии,Инциденты,Предпосылки,new_Аварии,new_Инциденты,new_Предпосылки
0,1.000000,7.0,9.0,0.797468,0.853659,0.600000
1,0.142857,1.0,5.0,0.113924,0.121951,0.333333
2,0.111111,0.2,1.0,0.088608,0.024390,0.066667

In [13]:
# Получили новую таблицу теперь отделим значения нашей матрицы от основной таблицы
df_new = df[['new_Аварии', 'new_Инциденты', 'new_Предпосылки']]
df_new

   new_Аварии  new_Инциденты  new_Предпосылки
0    0.797468       0.853659         0.600000
1    0.113924       0.121951         0.333333
2    0.088608       0.024390         0.066667

In [14]:
#Вычислим средние значение по строке и запишем полученный результот в mean
df_new['mean'] = df_new.mean(axis=1)
df_new.head()

C:\Users\user\anaconda3\envs\envpy3.5\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   new_Аварии  new_Инциденты  new_Предпосылки      mean
0    0.797468       0.853659         0.600000  0.750376
1    0.113924       0.121951         0.333333  0.189736
2    0.088608       0.024390         0.066667  0.059888

In [15]:
#проверка, среднее значение в сумме должно быть равно 1
df_new['mean'].sum()

1.0

In [16]:
# Далее проведем проверку на согласованность, 
#для этого создадим из нашей полученной выше таблицы матрицы для дальнейшего их перемножения
df_new4 =df_new['mean']

# удаляем из нашей таблицы значениея столбцы mean
#df_new.pop('mean')

df_new1 =DF_1.loc[0]

df_new2 =DF_1.loc[1]

df_new3 =DF_1.loc[2]

In [17]:
#Проверка на согласованность
res1 = np.dot(df_new1,df_new4)
print(res1)
res2 = np.dot(df_new2,df_new4)
print(res2)
res3 = np.dot(df_new3,df_new4)
print(res3)

2.6175225549521963
0.5963735622807986
0.1812104786644506

In [18]:
sum_new = res1 + res2 + res3 
print(sum_new)

3.3951065958974453

In [19]:
# Вычислем значения CI, RI, CR
CI = (sum_new - 3)/(3-1)
print(CI)
RI = (1.98*(3-2))/3
print(RI)
CR = CI/RI
print(CR)

0.19755329794872267
0.66
0.2993231787101859

In [20]:
# Получилось, что значение CR=0.3, что больше 0,1 значит матрицу нельзя считать согласованной
# Проделаем аналогичные действия с другими экспертами